*{
    box-sizing: border-box;
}
/*Giving all the divs a border and margin*/
div{
    margin: 5px;
    border: 3px solid gray;
}
/*Display the p of id third*/
#third > p{
    display: block;
}
/* Display all the h1 elements on the page */
h1{
    display: block;
}

#second {
    visibility: visible;
}
 #first p:first-child {
    font-size: xx-large;
}
#sixth img{
    
    width: 100%;
}
/* First form style*/
#first-form {
    background-color: rgba(243, 217, 217, 0.4);
    margin: 5px;
    padding: 5px;
}
/* Second form style*/
#second-form img{
    width: 100%;
    
}
#second-form form{
    padding: 10px;
    margin: 10px;
    background-color: rgba(243, 217, 217, 0.4);;
}
